@import '../../utilities/Variables.scss';

*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.Destination
{
    background-image: url('../../assets/destination/background-destination-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto !important;
    max-height: none;
    min-height: 100vh !important;
    max-width: 100vw !important;
    width: 100vw;
    .page
    {
        background-color: transparent;
        height: 100%;
        max-height: none;
        max-width: 100vw;
        min-height: calc(100vh - 90px);
        width: 100% !important;
        .desktop-left-flex-container
        {
            width: 100%;
            .header
            {
                color: rgba(#707070, .5);
                font-family: $font;
                font-size: $navText;
                letter-spacing: 1.5px;
                margin-top: 20px;
                text-align: center;
                .header-special-text 
                {
                    color: $textColor3;
                    margin-left: 10px;
                }
            }
            .planet 
            {
                display: block;
                height: 170px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 40px;
                width: 170px;
            }
        }
    }
    .desktop-right-flex-container
    {
        width: 100%;
        .nav-container
        {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            position: relative;
            width: fit-content;
            .active-planet
            {
                color: $textColor3;
                cursor: pointer;
                display: block;
                font-family: $font;
                font-size: 14px;
                margin-right: 10px;
                padding-bottom: 4px;
                position: relative;
                width: fit-content;
                &:hover::after
                {
                    transform: scale(1, 1);
                }
                &::after
                {
                    background-color: $textColor3;
                    bottom: 0px;
                    content: '';
                    height: .175rem;
                    left: 0px;
                    position: absolute;
                    width: 100%;;
                }
            }
            .unactive-planet
            {
                color: $textColor2;
                cursor: pointer;
                display: block;
                font-family: $font;
                font-size: 14px;
                margin-right: 10px;
                padding-bottom: 4px;
                position: relative;
                &:hover::after
                {
                    transform: scale(1, 1);
                }
                &::after
                {
                    background-color: rgba($textColor3, .25);
                    bottom: 0px;
                    content: '';
                    height: .175rem;
                    left: 0px;
                    position: absolute;
                    transform: scale(0,1);
                    transform-origin: 0% 100%;
                    transition: transform 0.75s ease;
                    width: 100%;
                }
            }
        }
        .planet-heading
        {
            color: $textColor3;
            font-family: $font;
            font-size: $heading3;
            margin-top: 10px;
            text-align: center;
        }
        .planet-description
        {
            color: $textColor2;
            font-family: $font;
            font-size: $navText;
            line-height: 1.25rem;
            padding: 0px 15px;
            text-align: center;
        }
        .dividing-line
        {
            background-color: rgba(#979797, .3);
            border: none;
            display: block;
            height: 1px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            outline: none;
            width: 75%;
        }
        .tablet-flex-container
        {
            width: 100%;
            .container
            {
                width: 100%;
                .header-2
                {
                    color: $textColor2;
                    font-family: $font;
                    font-size: 14px;
                    margin-top: 20px;
                    text-align: center;
                }
                .distance
                {
                    color: $textColor3;
                    font-family: $font;
                    font-size: $heading5;
                    margin-top: 5px;
                    text-align: center;
                }
                .header-3
                {
                    color: $textColor2;
                    font-family: $font;
                    font-size: 14px;
                    margin-top: 20px;
                    text-align: center;
                }
                .travel-time
                {
                    color: $textColor3;
                    font-family: $font;
                    font-size: $heading5;
                    margin-top: 5px;
                    padding-bottom: 40px;
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px)
{
    .Destination
    {
        background-image: url('../../assets/destination/background-destination-tablet.jpg');
        .page 
        {
            height: calc(100vh - 100px);
            .desktop-left-flex-container
            {
                .header
                {
                    font-size: 20px;
                    margin-top: 40px;
                    padding-left: 60px;
                    text-align: left;
                }
                .planet
                {
                    height: 300px;
                    margin-top: 60px;
                    width: 300px;
                }
            }
            .desktop-right-flex-container
            {
                .nav-container
                {
                    .unactive-planet
                    {
                        font-size: 20px;
                        margin-right: 15px;
                    }
                    .active-planet
                    {
                        font-size: 20px;
                        margin-right: 15px;
                    }
                }
                .planet-heading
                {
                    font-size: 80px;
                }
                .planet-description
                {
                    padding: 0px 120px;
                }
                .dividing-line 
                {
                    width: 85%;
                }
                .tablet-flex-container
                {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .container
                    {
                        .travel-time
                        {
                            padding-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px)
{
    .Destination
    {
        background-image: url('../../assets/destination/background-destination-desktop.jpg');
        .page
        {
            align-items: center;
            display: flex;
            height: calc(100vh - 140px);
            justify-content: space-between;
            .desktop-left-flex-container
            {
                .header
                {
                    font-size: $heading5;
                    padding-left: 0px;
                    text-align: center;
                }
                .planet
                {
                    height: 445px;
                    width: 445px;
                }
            }
            .desktop-right-flex-container
            {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                .nav-container
                {
                    margin: 0px;
                }
                .planet-heading
                {
                    font-size: $heading2;
                }
                .planet-description
                {
                    padding-left: 0px;
                    padding-right: 400px;
                    line-height: 1.75rem;
                    text-align: left;
                    width: 830px;
                }
                .dividing-line
                {
                    margin: 0px;
                    margin-top: 40px;
                    width: 830px;
                }
                .tablet-flex-container
                {
                    .container
                    {
                        align-items: flex-start;
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                    }
                }
            }
        }
    }
}