* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.Destination {
  background-image: url("../../assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto !important;
  max-height: none;
  min-height: 100vh !important;
  max-width: 100vw !important;
  width: 100vw;
}
.Destination .page {
  background-color: transparent;
  height: 100%;
  max-height: none;
  max-width: 100vw;
  min-height: calc(100vh - 90px);
  width: 100% !important;
}
.Destination .page .desktop-left-flex-container {
  width: 100%;
}
.Destination .page .desktop-left-flex-container .header {
  color: rgba(112, 112, 112, 0.5);
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-top: 20px;
  text-align: center;
}
.Destination .page .desktop-left-flex-container .header .header-special-text {
  color: #FFFFFF;
  margin-left: 10px;
}
.Destination .page .desktop-left-flex-container .planet {
  display: block;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 170px;
}
.Destination .desktop-right-flex-container {
  width: 100%;
}
.Destination .desktop-right-flex-container .nav-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.Destination .desktop-right-flex-container .nav-container .active-planet {
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  margin-right: 10px;
  padding-bottom: 4px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.Destination .desktop-right-flex-container .nav-container .active-planet:hover::after {
  transform: scale(1, 1);
}
.Destination .desktop-right-flex-container .nav-container .active-planet::after {
  background-color: #FFFFFF;
  bottom: 0px;
  content: "";
  height: 0.175rem;
  left: 0px;
  position: absolute;
  width: 100%;
}
.Destination .desktop-right-flex-container .nav-container .unactive-planet {
  color: #D0D6F9;
  cursor: pointer;
  display: block;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  margin-right: 10px;
  padding-bottom: 4px;
  position: relative;
}
.Destination .desktop-right-flex-container .nav-container .unactive-planet:hover::after {
  transform: scale(1, 1);
}
.Destination .desktop-right-flex-container .nav-container .unactive-planet::after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: 0px;
  content: "";
  height: 0.175rem;
  left: 0px;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.75s ease;
  width: 100%;
}
.Destination .desktop-right-flex-container .planet-heading {
  color: #FFFFFF;
  font-family: "Barlow", sans-serif;
  font-size: 56px;
  margin-top: 10px;
  text-align: center;
}
.Destination .desktop-right-flex-container .planet-description {
  color: #D0D6F9;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 1.25rem;
  padding: 0px 15px;
  text-align: center;
}
.Destination .desktop-right-flex-container .dividing-line {
  background-color: rgba(151, 151, 151, 0.3);
  border: none;
  display: block;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  outline: none;
  width: 75%;
}
.Destination .desktop-right-flex-container .tablet-flex-container {
  width: 100%;
}
.Destination .desktop-right-flex-container .tablet-flex-container .container {
  width: 100%;
}
.Destination .desktop-right-flex-container .tablet-flex-container .container .header-2 {
  color: #D0D6F9;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}
.Destination .desktop-right-flex-container .tablet-flex-container .container .distance {
  color: #FFFFFF;
  font-family: "Barlow", sans-serif;
  font-size: 28px;
  margin-top: 5px;
  text-align: center;
}
.Destination .desktop-right-flex-container .tablet-flex-container .container .header-3 {
  color: #D0D6F9;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}
.Destination .desktop-right-flex-container .tablet-flex-container .container .travel-time {
  color: #FFFFFF;
  font-family: "Barlow", sans-serif;
  font-size: 28px;
  margin-top: 5px;
  padding-bottom: 40px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .Destination {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }
  .Destination .page {
    height: calc(100vh - 100px);
  }
  .Destination .page .desktop-left-flex-container .header {
    font-size: 20px;
    margin-top: 40px;
    padding-left: 60px;
    text-align: left;
  }
  .Destination .page .desktop-left-flex-container .planet {
    height: 300px;
    margin-top: 60px;
    width: 300px;
  }
  .Destination .page .desktop-right-flex-container .nav-container .unactive-planet {
    font-size: 20px;
    margin-right: 15px;
  }
  .Destination .page .desktop-right-flex-container .nav-container .active-planet {
    font-size: 20px;
    margin-right: 15px;
  }
  .Destination .page .desktop-right-flex-container .planet-heading {
    font-size: 80px;
  }
  .Destination .page .desktop-right-flex-container .planet-description {
    padding: 0px 120px;
  }
  .Destination .page .desktop-right-flex-container .dividing-line {
    width: 85%;
  }
  .Destination .page .desktop-right-flex-container .tablet-flex-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .Destination .page .desktop-right-flex-container .tablet-flex-container .container .travel-time {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1440px) {
  .Destination {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }
  .Destination .page {
    align-items: center;
    display: flex;
    height: calc(100vh - 140px);
    justify-content: space-between;
  }
  .Destination .page .desktop-left-flex-container .header {
    font-size: 28px;
    padding-left: 0px;
    text-align: center;
  }
  .Destination .page .desktop-left-flex-container .planet {
    height: 445px;
    width: 445px;
  }
  .Destination .page .desktop-right-flex-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  .Destination .page .desktop-right-flex-container .nav-container {
    margin: 0px;
  }
  .Destination .page .desktop-right-flex-container .planet-heading {
    font-size: 100px;
  }
  .Destination .page .desktop-right-flex-container .planet-description {
    padding-left: 0px;
    padding-right: 400px;
    line-height: 1.75rem;
    text-align: left;
    width: 830px;
  }
  .Destination .page .desktop-right-flex-container .dividing-line {
    margin: 0px;
    margin-top: 40px;
    width: 830px;
  }
  .Destination .page .desktop-right-flex-container .tablet-flex-container .container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}/*# sourceMappingURL=Destination.css.map */