$font: 'Barlow', sans-serif;
$heading1: 150px;
$heading2: 100px;
$heading3: 56px;
$heading4: 32px;
$heading5: 28px;
$navText: 16px;
$subheading1: 28px;
$subheading2: 14px;
$textColor1: #0B0D17;
$textColor2: #D0D6F9;
$textColor3: #FFFFFF;



