* {
  box-sizing: border-box !important;
  margin: 0px;
  padding: 0px;
}

.Navbar {
  display: block !important;
  height: 90px;
  max-width: 100vw !important;
  position: relative !important;
  width: 100vw !important;
}
.Navbar .component {
  align-items: center;
  background-color: transparent !important;
  display: flex;
  height: 90px;
  justify-content: space-between;
  position: relative;
  max-width: 100vw !important;
  width: 100% !important;
}
.Navbar .component .left-flex-container {
  align-items: center;
  display: flex;
  padding-left: 30px;
}
.Navbar .component .left-flex-container .logo {
  height: 40px;
  width: 40px;
}
.Navbar .component .desktop-nav-line {
  display: none;
}
.Navbar .component .right-flex-container {
  align-items: center;
  display: flex;
  padding-right: 25px;
}
.Navbar .component .right-flex-container .hamburger-icon {
  cursor: pointer;
  display: block;
  height: 21px;
  transition: 1s;
  width: 24px;
}
.Navbar .component .right-flex-container .unactive-block-link {
  display: none;
}
.Navbar .component .right-flex-container .active-block-link {
  display: none;
}
.Navbar .component .right-flex-container .desktop-active-block-link {
  display: none;
}
.Navbar .component .right-flex-container .desktop-unactive-block-link {
  display: none;
}
.Navbar .mobile-side-bar {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.04);
  display: flex;
  flex-direction: column;
  height: 100vh !important;
  max-width: 270px !important;
  right: 0px;
  position: absolute;
  transition: 0.75s;
  top: -100vh;
  width: 270px;
}
.Navbar .mobile-side-bar .close-icon {
  align-self: flex-end;
  cursor: pointer;
  display: block;
  height: 20px;
  margin-right: 25px !important;
  margin-top: 25px !important;
  position: relative;
  width: 20px;
}
.Navbar .mobile-side-bar #first-link {
  margin-top: 60px !important;
}
.Navbar .mobile-side-bar .unactive-link {
  border: 0px solid lightblue !important;
  color: #FFFFFF !important;
  cursor: pointer;
  font-family: "Barlow", sans-serif !important;
  font-size: 16px;
  margin-top: 40px;
  max-width: none;
  padding-left: 25px;
  text-decoration: none !important;
  transition: 0.05s;
  width: 100% !important;
}
.Navbar .mobile-side-bar .unactive-link:hover {
  border-right: 3px solid lightblue !important;
}
.Navbar .mobile-side-bar .active-link {
  border-right: 3px solid lightblue !important;
  color: #FFFFFF !important;
  cursor: pointer;
  font-family: "Barlow", sans-serif !important;
  font-size: 16px;
  margin-top: 40px;
  max-width: none;
  padding-left: 25px;
  text-decoration: none !important;
  width: 100% !important;
}

@media only screen and (min-width: 768px) {
  .Navbar {
    display: block !important;
    height: 100px;
    position: relative !important;
    max-width: 100vw;
    width: 100vw !important;
  }
  .Navbar .component {
    align-items: center;
    background-color: transparent !important;
    display: flex;
    height: 100px;
    max-width: 100vw !important;
    max-width: 100vw;
    width: 100% !important;
  }
  .Navbar .component .right-flex-container {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.04);
    display: flex;
    height: 100px;
    padding-left: 80px;
    padding-right: 40px;
  }
  .Navbar .component .right-flex-container .hamburger-icon {
    display: none;
    justify-self: flex-start !important;
  }
  .Navbar .component .right-flex-container .unactive-block-link {
    align-items: center;
    background-color: transparent;
    color: #FFFFFF;
    display: flex;
    font-family: "Barlow", sans-serif;
    height: 100%;
    justify-content: center;
    margin-right: 30px;
    position: relative;
    text-decoration: none;
  }
  .Navbar .component .right-flex-container .unactive-block-link:hover::after {
    transform: scale(1, 1);
  }
  .Navbar .component .right-flex-container .unactive-block-link::after {
    background-color: rgba(255, 255, 255, 0.25);
    bottom: 0px;
    content: "";
    height: 0.175rem;
    position: absolute;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.75s ease;
    width: 100%;
  }
  .Navbar .component .right-flex-container .active-block-link {
    align-items: center;
    background-color: transparent;
    color: #FFFFFF;
    display: flex;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    height: 100%;
    justify-content: center;
    margin-right: 30px;
    position: relative;
    text-decoration: none;
  }
  .Navbar .component .right-flex-container .active-block-link::after {
    background-color: #FFFFFF;
    bottom: 0px;
    content: "";
    height: 0.175rem;
    position: absolute;
    width: 100%;
  }
  .Navbar .mobile-side-bar {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .Navbar {
    height: 140px;
  }
  .Navbar .component {
    height: 140px;
    padding-top: 40px;
  }
  .Navbar .component .right-flex-container {
    padding-left: 80px;
    padding-right: 160px;
  }
  .Navbar .component .right-flex-container .unactive-block-link {
    display: none;
  }
  .Navbar .component .right-flex-container .active-block-link {
    display: none;
  }
  .Navbar .component .right-flex-container .desktop-active-block-link {
    align-items: center;
    background-color: transparent;
    color: #FFFFFF;
    display: flex;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    height: 100%;
    justify-content: center;
    margin-right: 30px;
    position: relative;
    text-decoration: none;
  }
  .Navbar .component .right-flex-container .desktop-active-block-link::after {
    background-color: #FFFFFF;
    bottom: 0px;
    content: "";
    height: 0.175rem;
    position: absolute;
    width: 100%;
  }
  .Navbar .component .right-flex-container .desktop-unactive-block-link {
    align-items: center;
    background-color: transparent;
    color: #FFFFFF;
    display: flex;
    font-family: "Barlow", sans-serif;
    height: 100%;
    justify-content: center;
    margin-right: 30px;
    position: relative;
    text-decoration: none;
  }
  .Navbar .component .right-flex-container .desktop-unactive-block-link:hover::after {
    transform: scale(1, 1);
  }
  .Navbar .component .right-flex-container .desktop-unactive-block-link::after {
    background-color: rgba(255, 255, 255, 0.25);
    bottom: 0px;
    content: "";
    height: 0.175rem;
    position: absolute;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.75s ease;
    width: 100%;
  }
}/*# sourceMappingURL=Navbar.css.map */